<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tasks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.0/jquery.min.css"
        th:src="@{/webjars/jquery/3.1.0/jquery.min.css}"></script>
        <link href="../static/css/spring-core.css"
              rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            <h1>
                Tasks
            </h1>
            <p>
                <a href="/tasks/add/" class="btn btn-dark">+ New Task</a>
            </p>
            
            <table class="table table-striped">
                <tr>
                    <th>Activity </th>
                    <th>Date </th>
                    <th>Time </th>
                    <th> </th>
                    <th> </th>
                </tr>

                <tr th:each="task : ${tasks}">
                    <td th:text="${task.activity}">...</td>
                    <td th:text="${task.date}">...</td>
                    <td th:text="${task.time}">...</td>
                    <td> <a th:href=" @{/tasks/show(id=${task.id})}" class="btn btn-warning">Edit</a> </td>
                    <td> <a th:href=" @{/tasks/confirm(id=${task.id})}" class="btn btn-danger">Delete</a> </td>
                </tr>

            </table>
            
            <!--            <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out"/>
                        </form>-->
        </div>
    </body>
</html>
